<div class="variable row">
  <div class="variable-name col-md-2">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-danger" (click)="onDelete.emit()" title="Remove Variable"><i class="fa fa-trash"></i><span class="sr-only">Remove Variable</span></button>
      </span>
      <input id="variable" type="text" class="form-control" [(ngModel)]="variable.name" placeholder="Name"/>
    </div>
  </div>

  <div class="variable-value col-md-5">
    <div class="input-group">
      <label class="input-group-addon" for="value" [katex]="(variable.name || '?') + ' ='"></label>
      <input id="value" type="text" class="form-control d-block" [(ngModel)]="variable.value" placeholder="Value"/>
    </div>
  </div>

  <div class="variable-delta col-md-5">
    <div class="input-group">
      <label class="input-group-addon" for="delta" [katex]="'\\Delta ' + (variable.name || '?') + ' ='"></label>
      <input id="delta" type="text" class="form-control d-block" [(ngModel)]="variable.delta" placeholder="Error"/>
    </div>
  </div>
</div>
