//noinspection CssOptimizeSimilarProperties
.result {
  text-align: center;
  overflow-x: auto;

  background-image:
    linear-gradient(to right, white, transparent),
    linear-gradient(to right, transparent, white),
    linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),
    linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));

  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}
