<h3>Variables</h3>
<p><button class="btn btn-primary btn-sm" (click)="addVariable()"><i class="fa fa-plus"></i></button></p>
<div class="variables mb-5">
  <app-variable *ngFor="let variable of variables" [variable]="variable" (onDelete)="deleteVariable(variable)"></app-variable>
</div>

<h3>Equation</h3>
<div class="eq mb-5">
  <div class="form-inline">
    <label class="mr-2">$$R = $$</label>
    <input id="equation" class="form-control" type="text" [(ngModel)]="equation"/>
  </div>
</div>

<h3>Result</h3>
<div class="result">
  <div [mathJax]="resultFunction()"></div>
  <div [mathJax]="deltaResultFunction()"></div>
</div>
