//noinspection CssOptimizeSimilarProperties
.result {
  text-align: center;
  overflow-x: auto;

  background-image:
    linear-gradient(to right, white 30%, transparent),
    linear-gradient(to right, transparent, white 70%),
    radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));

  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}
