//noinspection CssOptimizeSimilarProperties
.result {
  text-align: center;
  overflow-x: auto;
  border-radius: 0;

  background:
    linear-gradient(to right, white 30%, rgba(0, 0, 0, 0)),
    linear-gradient(to right, rgba(0, 0, 0, 0), white 70%) 100% 0,

    radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) 100% 0;

  background-repeat: no-repeat;
  background-color: white;
  background-size: 40px 100%, 40px 100%, 12px 100%, 12px 100%;
  background-attachment: local, local, scroll, scroll;
}
